.button1 {
    background-color: white;
    border: 2px solid lightseagreen;
    font-size: 20px;
    text-align: center;
    color:lightseagreen;  
    border-radius: 18px;
    padding: 5px 55px 5px 55px;
    margin: 40px 40px 0px 40px;
}

.button2 {
    background-color: lightseagreen;
    font-size: 20px;
    text-align: center;
    color: white;
    border-radius: 50%;
    padding: 10px 15px 10px 15px;
    margin: 15px 40px 15px 40px;

}