.button1 {
    background-color: white;
    border: 2px solid lightseagreen;
    font-size: 20px;
    text-align: center;
    color:lightseagreen;  
    border-radius: 18px;
    padding: 5px 55px 5px 55px;
    margin: 40px 40px 0px 40px;
}

.button2 {
    background-color: lightseagreen;
    border: 2px solid lightseagreen;
    font-size: 20px;
    text-align: center;
    color: white;
    border-radius: 50%;
    padding: 5px 10px 5px 10px;
    margin: 10px 40px 0px 40px;
}

.button3 {
    background-color: rgb(32, 100, 178);
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    color: white;
    box-shadow: 5px 5px 8px 5px black;
    height: 50px;
    width: 200px;
    padding: 5px 20px 5px 20px;
    margin: 10px 40px 40px 40px;
}